.idea/*
.pixi/*
!.pixi/config.toml

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Build and environment
experiments/outputs
experiments/logs
experiments/outputs/*
experiments/logs/*

src/data/nsynth/test/*
src/data/nsynth/validation/*
src/data/nsynth/train/*

